---
import Layout from '../layouts/Layout.astro';
import SelectCategory from '../components/SelectCategory.jsx';
import ProductFlyout from '../components/ProductFlyout.jsx';
import ProductList from '../components/ProductList.jsx';
const title = 'Lista del Mercadona';
const urlApiCategories = 'http://tienda.mercadona.es/api/categories/';

// Fetch de las categorías
const categories = await fetch(urlApiCategories)
	.then((response) => response.json())
	.then((data) => data.results)
	.catch((error) => console.error(error));

// Fetch de los productos
const categoriesIds = categories
	.flatMap((category) => category.categories.flatMap((category) => category.id.toString()))
	.sort();
---

<Layout title={title}>
	<div class='relative flex justify-center'>
		<main>
			<SelectCategory
				categories={categories}
				client:load
			/>
			<ProductList
				categoriesIds={categoriesIds}
				client:visible
			/>
		</main>
		<ProductFlyout client:only='react' />
	</div>
</Layout>
